.footerContainer {
  padding: 2em 4em 1em;
  background-color: var(--footer-clr);
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.customerService,
.about,
.followUs {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.serviceList,
.aboutList,
.followList {
  display: grid;
  gap: 1em;
}

.serviceList > *,
.aboutList > *,
.followList > * {
  font-size: 1.4em;
  color: var(--dark-grayish-blue);
  cursor: pointer;
}

.followList > * {
  display: flex;
  gap: 1em;
}

.serviceList > *:hover,
.aboutList > *:hover,
.followList > *:hover {
  color: var(--primary-orange);
}

.heading {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}
