.productsContainer {
  padding: 1em 0;
  display: grid;
  gap: 0.5em;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "toolbar"
    "product-list";
}

.toolbar {
  padding: 1.2em;
  grid-area: toolbar;
  background-color: var(--white-smoke);
  display: grid;
  gap: 1em;
  grid-template-columns: 2fr 2fr 1fr;
}

.productList {
  grid-area: product-list;
  padding: 0.5em;
  background-color: var(--light-grayish-blue);
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 100%)); */
}
