.productsContainer {
  padding: 1em 0;
  display: grid;
  gap: 0.5em;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "toolbar"
    "product-list";
}

.toolbar {
  grid-area: toolbar;
  background-color: var(--light-grayish-blue);
}

.productList {
  grid-area: product-list;
}
